<!-- Máscara con título -->
<div class="limpiar  d-flex justify-content-end align-items-center"
     style="background-color: rgba(0, 0, 0, 0.3); left: 0; z-index: 1;">
  <div class="nav container justify-content-end">
    <ul *ngIf="!isLoggedIn" class="d-flex align-items-center justify-content-center p-2 gap-2">
      <li>
        <button class="btn nav-btn m-0" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
      </li>
      <li>
        <button class="btn nav-btn m-0" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
      </li>
      <li>
        <button class="btn nav-btn m-0" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</button>
      </li>
    </ul>
  </div>
</div>
