/*Reseteamos para todos los navegadores*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}

.bg-image {
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 100px;
  width: 100vw;

  margin-left: calc(-50vw + 50%); /* Corregir desplazamiento horizontal de la imagen ?*/
  position: relative;
}

.cabecera-outer {
  min-height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecera-inner {
  max-width: 1100px; /* Ancho máximo deseado */
  width: 100%; /* Ocupa todo el ancho disponible dentro del límite */
  min-height: 80px;
  background: transparent;
  display: flex;
  align-items: center;
  margin: 0 auto; /* Centra horizontalmente el contenedor */
}

.logo-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo-img {
  max-width: 70px;
  width: 70px;
  height: auto;
  display: block;
  margin-left: 10px;
}

.cabecera-title {
  font-family: 'Roboto', serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  white-space: normal;
  word-break: break-word;
}

.inicial {
  font-weight: bold;
  font-family: "Californian FB", serif;
}

/* Responsive */
@media (max-width: 992px) {
  .cabecera-inner {
    max-width: 98vw;
  }
  .logo-img {
    margin-left: 0px;
  }
  .cabecera-title {
    font-size: 2rem;
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .cabecera-inner {
    max-width: 90vw;
    min-height: 60px;
    margin-left: 0px;
  }
  .logo-img {
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    margin-left: 10px;

  }
  .cabecera-title {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
}
