<div class="bg-image" style="background-image: url('assets/image/banner2.png'); position: relative;">
  <div class="cabecera-outer d-flex justify-content-center align-items-center mx-3">
    <div class="cabecera-inner d-flex align-items-center">
      <!-- Logo a la izquierda -->
      <a routerLink="/" class="logo-link">
        <img src="assets/image/MHM.jpg" alt="Logo MHM" class="logo-img" />
      </a>
      <!-- Título centrado en el espacio restante -->
      <div class="flex-grow-1 d-flex justify-content-center">
        <h1 class="cabecera-title m-0">
          <span class="inicial">M</span>alagueña
          <span class="inicial">H</span>ostelería
          <span class="inicial">M</span>editerranea
        </h1>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
