<div>
  <div class="d-flex justify-content-between me-3">
    <h4>Formulario del Mensaje</h4>
    <a href="#" routerLink="/categoria/index" class="btn btn-primary">Volver</a>
  </div>

  <hr/>

  <!-- Si la categoría está cargada, mostrar los detalles -->
  <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="mensaje">
    <!-- ID -->
    <div class="form-group row">
      <div class="col-md-6">
        <label for="id">ID:</label>
        <input
          id="id"
          type="text"
          class="form-control"
          [value]="mensaje.id"
          readonly>
      </div>
    </div>

    <!-- Nombre -->
    <div class="form-group row">
      <div class="col-md-6">
        <label for="nombre">Nombre:</label>
        <input
          id="nombre"
          type="text"
          class="form-control"
          formControlName="nombre"> <!-- Reemplaza ngModel con formControlName -->
        <div *ngIf="f.nombre.errors && (f.nombre.dirty || f.nombre.touched)">
          <div *ngIf="f.nombre.errors.required">El nombre es obligatorio.</div>
          <div *ngIf="f.nombre.errors.pattern">El nombre solo puede contener letras.</div>
        </div>
      </div>
    </div>


    <!-- Botón enviar -->
    <div class="d-flex justify-content-end me-3">
      <button class="btn btn-primary mt-2" type="submit" [disabled]="!form.valid">Enviar</button>
    </div>
  </form>

</div>
