<H1>LLEGA A LA PLANTILLA</H1>
<div mat-dialog-title>
  <h2>Contact form</h2>
</div>
<mat-dialog-content class="content">
  <form [formGroup]="form">
    <!-- Campos del formulario -->
    <mat-form-field class="full-width" appearance="outline">
    <mat-label>Nombre Empresa</mat-label>  <!--esto es una prueba-->
      <input matInput placeholder="Nombre de la empresa" formControlName="nombreEmpresa" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Dirección" formControlName="direccionEmpresa" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Código Postal" formControlName="cpEmpresa" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="IBAN Empresa" formControlName="IBANEmpresa" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Teléfono de la empresa" formControlName="telEmpresa" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email de la empresa" formControlName="emailEmpresa" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nombre del contacto" formControlName="nombreContacto" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Teléfono del contacto" formControlName="telContacto" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email del contacto" formControlName="emailContacto" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Observaciones" formControlName="observaciones"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeModal()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
</mat-dialog-actions>
