<!-- Formulario .html -->
<div>
  <div class="d-flex justify-content-between me-3">
    <h4>Categoría</h4>
    <a href="#" routerLink="/categoria/index" class="btn btn-primary">Volver</a>
  </div>

  <hr/>
  <div class="modal fade" id="crearModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Categoría</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- Nombre -->
            <div class="form-group row">
              <div class="col-md-6">
                <label for="nombre">Nombre:</label>
                <input
                  formControlName="nombre"
                  id="nombre"
                  type="text"
                  class="form-control"
                  [ngClass]="{'is-invalid': f.nombre.touched && f.nombre.invalid}">
                <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
                  <div *ngIf="f.nombre.errors.required">*Nombre es requerido.</div>
                  <div *ngIf="f.nombre.errors.pattern">*El nombre sólo puede contener letras.</div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Botón enviar -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

          <button class="btn btn-primary mt-2" type="submit" [disabled]="!form.valid">Enviar</button>
        </div>
      </div>
    </div>
  </div>

</div>
