<div>
  <div class="d-flex justify-content-between me-3">
    <h4>Detalle del Mensaje</h4>
    <a href="#" routerLink="/categoria/detalle" class="btn btn-primary">Volver</a>
  </div>

  <hr/>

  <!-- Si la categoría está cargada, mostrar los detalles -->
  <div *ngIf="mensaje">

    <!-- Id -->
    <div class="form-group row">
      <div class="col-md-6">
        <label for="id">ID:</label>
        <input
          id="id"
          type="text"
          class="form-control"
          [value]="mensaje.id"
          readonly>
      </div>
    </div>

    <!-- Nombre -->
    <div class="form-group row">
      <div class="col-md-6">
        <label for="nombre">Nombre:</label>
        <input
          id="nombre"
          type="text"
          class="form-control"
          [value]="mensaje.nombreEmpresa"
          readonly>
      </div>
    </div>

  </div>
</div>
