<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Botón hamburguesa para pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del menú -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/">Home</a>
        </li>

        <!-- Dropdown de Clientes y Pedidos -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestión de Clientes
          </a>
          <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="clientesDropdown">
            <li><a class="dropdown-item custom-dropdown-item" href="#" routerLink="/cliente/index">Clientes</a></li>
            <li><a class="dropdown-item custom-dropdown-item" href="#" routerLink="/pedido/index">Pedidos</a></li>
          </ul>
        </li>

        <!-- Dropdown de Productos y Categorías -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestión de Productos
          </a>
          <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="productosDropdown">
            <li><a class="dropdown-item custom-dropdown-item" href="#" routerLink="/producto/index">Productos</a></li>
            <li><a class="dropdown-item custom-dropdown-item" href="#" routerLink="/categoria/index">Categorías</a></li>
          </ul>
        </li>

        <!-- Dropdown de Proveedores y Pedidos Proveedores -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="proveedoresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestión de Proveedores
          </a>
          <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="proveedoresDropdown">
            <li><a class="dropdown-item custom-dropdown-item" href="#" routerLink="/proveedor/index">Proveedores</a></li>
            <li><a class="dropdown-item custom-dropdown-item" href="#" routerLink="/pedidos_p/index">Pedidos Prov</a></li>
          </ul>
        </li>

        <!-- Opción de Empleados -->
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/empleado/index">Empleados</a>
        </li>
      </ul>
      <ul class="d-flex justify-content-end" style="list-style: none; gap: 5%">
        <li>
          <a class="btn btn-warning " href="#" routerLink="/">Pedidos</a>
        </li>
        <li>
          <a class="btn btn-warning" href="#" routerLink="/">Avisos</a>
        </li>
      </ul>


    </div>
  </div>
</nav>
