<div class="container">
  <mensaje-detalle-modal [mensaje]="mensaje"></mensaje-detalle-modal>
<!--  <app-create-modal></app-create-modal>-->
<!--  <app-edit-modal [categoria]="categoria"></app-edit-modal>-->

  <div class="d-flex justify-content-between">
    <h4 class="col-md-6">Lista de Categorías</h4>
    <a routerLink="/categoria/create" class="btn btn-success">Enviar Mensaje</a>
  </div>
  <div class="d-flex mt-lg-2" style="background-color: rgba(0, 0, 0, 0.3); z-index: 1">
    <div class="d-flex col-md-8">
      <div class="col-md-6 mx-md-1"><h5>Id</h5></div>
      <div class="col-md-6 mx-md-1"><h5>Nombre</h5></div>
    </div>
    <div class="d-flex col-4 justify-content-center">
      <div class="col-md-4"><h5 class="text-center">Acciónes</h5></div>
    </div>
  </div>

  <div *ngFor="let mensaje of mensajes" class="row top5 align-items-center">
    <div class="col-md-4">{{ mensaje.id || 'No id' }}</div>
    <div class="col-md-4">{{ mensaje.nombre }}</div>
    <div class="col-md-4 d-md-flex mt-1 justify-content-md-end mx-0">
      <!-- Botón para Editar (abre modal de edición) -->
      <button type="button" (click)="openEditModal(mensaje)" class="btn btn-secondary" style="margin-left: 2px; margin-top: 2px;">Editar</button>

      <!-- Botón para Detalles (abre modal de detalle) -->
      <button type="button" (click)="openDetalleModal(mensaje)" class="btn btn-primary" style="margin-left: 2px; margin-top: 2px;">Detalle</button>

      <!-- Botón para Eliminar -->
      <button type="button" (click)="deleteMensaje(mensaje.id)" class="btn btn-danger" style="margin-left: 2px; margin-top: 2px;">Eliminar</button>
    </div>
  </div>
</div>



