:root {
  --handwriting-font: 'Great Vibes', cursive;
  --main-font: 'Playfair Display', serif;
  --defecto-main: 'Roboto';
  --brand: 'fantasy';
}

:host {
  display: block;
  width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0 auto;
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  box-sizing: border-box;
}

/* Estilo para la imagen de fondo */
.bg-image {
  width: 100vw; /* 100% del viewport */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 150px;
}







