:root {
  --handwriting-font: 'Great Vibes', cursive;
  --main-font: 'Playfair Display', serif;
  --defecto-main: 'Roboto';
  --brand: 'fantasy';
}

:host {
  display: block;
  /*width: clamp(325px, 100%, 1200px);*/
  /*margin: 0 auto;*/
  min-width: 350px;
  max-width: 1200px;
  /*width: 100%;*/
  margin: 0 auto;
  padding: 20px;
  background: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* ✅ Mejor */
.logo {
  width: 15vw; /* 15% del ancho de pantalla */
}


h1 {
  /*font-family: "fantasy" /*var(--handwriting-font)*/;
  font-family:  'fantasy', serif;
  font-size: 40px;
  font-weight: 700; /* Esto aplica la versión en negrita de la fuente */
  color: #fff; /* Color blanco  */
}


/* Estilo para el logo */
.logo-img {
  width: 120px; /* 15vm 15% del ancho de pantalla */
  position: absolute;
  top: 80px; /* Para centrar verticalmente */
  left: 20px; /* Para alinear a la izquierda con un margen de 20px */
  transform: translateY(-50%); /* Ajusta el centrado vertical */
}

/* Estilo para la imagen de fondo */
.bg-image {
  height: 300px; /* Ajusta la altura del contenedor para que el logo encaje */
  background-size: cover;
  background-position: center;
}


/* Estilos para los dropdown items personalizados */
.custom-dropdown-item {
  background-color: #343a40; /* Fondo gris oscuro */
  color: white; /* Texto blanco */
  border-radius: 0; /* Sin esquinas redondeadas */
  padding: 10px; /* Espaciado interno para que parezcan botones */
  text-align: center; /* Centrar el texto */
  margin: 2px 0; /* Separación entre opciones */
  display: block;
}

/* Cambia el color al pasar el cursor */
.custom-dropdown-item:hover {
  background-color: #495057; /* Un gris más claro cuando el mouse esté sobre el botón */
  color: white;
  text-decoration: none; /* Sin subrayado */
}

/* Opcional: Estilo para todo el menú desplegable */
.custom-dropdown-menu {
  border-radius: 0; /* Sin esquinas redondeadas */
  padding: 0;
  border: none; /* Sin bordes */
}





