
  <!-- CARRUSEL DE PORTADA -->
  <div id="carouselExampleCaptions" class="carousel slide mt-3">
<!--    Este es el mecanismo circular entre slides-->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-current="true" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-current="true" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
              aria-current="true" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex flex-column justify-content-center align-items-center ">
          <img src="./assets/image/Diseños.jpg" class="d-block w-100" alt="Diseños.jpg">
          <div class="mt-2 card h-100 rounded-4 bg-success p-4 ">
            <div class="card-body text-white d-flex flex-column">
              <h4 class="p-2 bg-black text-center">DISEÑOS DE COCINAS FUNCIONALES A MEDIDA</h4>
              <p class="w-100 text-center">Somos una empresa con mas de 20 años de experiencia en el sector de hostelería.
                Desde 1999 estamos realizando proyectos integrales de cocinas industriales e instalaciones de frio
                proporcionando un mantenimiento rapido, de calidad y aportando nuestro conocimiento para hacer
                realidad
                tus sueños</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center ">
          <img src="./assets/image/newCarrusel1.jpg" class="d-block w-100" alt="newCarrusel.jpg">
          <div class="mt-2 card h-100 rounded-4 bg-success p-4 ">
            <div class="card-body text-white">
              <h4 class="p-2 bg-black text-center"> LOS MEJORES PRODUCTOS PARA LA MEJOR EXPERIENCIA CULINARIA</h4>
              <p class="w-100 text-center">Trabajamos con las mejores marcas del mercado para darte un producto de total
                garantia
                para que puedas dar el mejor servicio posible durante mas tiempo
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center ">
          <img src="./assets/image/Recambios.jpg" class="d-block w-100" alt="...">
          <div class="mt-2 card h-100 rounded-4 bg-success p-4 ">
            <div class="card-body text-white">
              <h4 class="p-2 bg-black text-center">RECAMBIOS DE MAXIMA CALIDAD Y DURABILIDAD</h4>
              <p class="w-100 text-center">Tenemos el mejor servicio posible de postventa, mantenimiento y reparacion. Con
                recambios
                originales, de la mejor calidad posible y poniendo toda nuestro conocimiento a tu servicio.
                Contrata nuestro servicio de mantenimiento y olvidate de problemas, dedicandote a cocinar y servir.
                El resto es cosa nuestra.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center ">
          <img src="./assets/image/Presentación1.png" class="d-block w-100" alt="...">
          <div class="mt-2 card carrusel rounded-4 bg-success p-4 ">
            <div class="card-body text-white">
              <h4 class="p-2 bg-black text-center">NUESTRAS MARCAS REPRESENTADAS</h4>
              <p class="w-100 text-center">Solo Representamos las mejores Marcas del mercado 100% garantizadas, máxima funcionalidad, calidades garantizadas.
              </p>
            </div>
          </div>
        </div>
      </div>

<!--      botones lineal para slides-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev">

        <span class="carousel-control-prev-icon  text-white" aria-hidden="true"></span>
        <i class="bi bi-arrow-left-circle-fill fs-6 "></i>
        <span class="visually-hidden ">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next">
        <i class="bi bi-arrow-right-circle-fill fs-6 "></i>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
