*{

}

.carousel {
  max-width: 1100px; /* Ancho máximo del carrusel */
  margin: 65px auto 0; /* Margen superior para separarlo del nav, centrado horizontal */
  padding: 0 15px; /* Espaciado interno para evitar recortes */
}

.carousel .carousel-inner {
  position: relative; /* Asegura que el contenido esté correctamente posicionado */
  z-index: 1; /* Asegura que esté por encima del fondo */
}

.carrusel .card {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrusel .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
div.card.bg-secondary {
  background-color: rgba(108, 117, 125, 0.3) !important; /* gris secundario Bootstrap con 50% opacidad */
  /* Puedes ajustar el valor 0.5 para más o menos transparencia */
}

.carrusel .img-fluid {
  max-height: 100px;
  object-fit: contain;
}
.bg-video {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vw;
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  z-index: -1;
  /*opacity: 0.0; !* Ajusta la transparencia *!*/
  pointer-events: none; /* Para que no bloquee clics */

}


@media (max-width: 900px) {
  .carrusel .card, .carrusel .img-fluid {
    min-height: 80px;
    max-height: 80px;
  }
  h5 {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .carrusel .card, .carrusel .img-fluid {
    min-height: 60px;
    max-height: 60px;
  }
  h5 {
    font-size: 1rem;
  }
}
