<video autoplay muted loop playsinline
       id="bg-video"
       class="container bg-video">
  <source src="assets/image/fondococina.mp4" type="video/mp4">
  Tu navegador no soporta video HTML5.
</video>

<div *ngIf="!isMobile">
  <div class="carousel">
    <!-- Carrusel 1  orden normal -->
    <div id="carruselSuperior" class="container  slide mt-3 carrusel ">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-3">
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide1.jpg" class="d-flex img-fluid rounded-2" alt="slide1.jpg">
              <div class="card bg-secondary text-white  flex-fill ">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">COCINAS A MEDIDA</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide2.jpg" class="d-flex img-fluid rounded-2" alt="slide2.jpg">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">EXPERIENCIA CULINARIA</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-3">
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide3.jpg" class="d-flex img-fluid rounded-2" alt="slide3.jpg">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">MAXIMA CALIDAD</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide4.jpg" class="d-flex img-fluid rounded-2" alt="slide4.png">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">PRIMERAS MARCAS</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carrusel 2 (orden inverso para el efecto visual) -->
    <div id="carruselInferior" class="container slide mt-3 carrusel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-3">
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide3.jpg" class="d-flex img-fluid rounded-2" alt="slide3.jpg">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">MAXIMA CALIDAD</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide4.jpg" class="d-flex img-fluid rounded-2" alt="slide4.png">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">PRIMERAS MARCAS</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-3">
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide1.jpg" class="d-flex img-fluid rounded-2" alt="slide1.jpg">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">COCINAS A MEDIDA</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide2.jpg" class="d-flex img-fluid rounded-2" alt="slide2.jpg">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">EXPERIENCIA CULINARIA</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isMobile">
  <div class="carousel">
    <div id="carruselMovil" class="container  slide mt-3 carrusel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-3">
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide1.jpg" class="d-flex img-fluid rounded-2" alt="slide1.jpg">
              <div class="card bg-secondary text-white  flex-fill ">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">COCINAS A MEDIDA</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide2.jpg" class="d-flex img-fluid rounded-2" alt="slide2.jpg">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">EXPERIENCIA CULINARIA</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-3">
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide3.jpg" class="d-flex img-fluid rounded-2" alt="slide3.jpg">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">MAXIMA CALIDAD</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center gap-3">
              <img src="assets/image/slide4.jpg" class="d-flex img-fluid rounded-2" alt="slide4.png">
              <div class="card bg-secondary text-white  flex-fill">
                <div class="card-body d-flex align-items-center justify-content-center ">
                  <h5 class="p-2  text-center w-100">PRIMERAS MARCAS</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
